*{
    box-sizing: border-box;
    padding:0;
    margin:0;
  }

body{
    /* viewport(window) units: vh(viewport height) ex;100 is 100%;, vw(viewport width, vmin( smallest between vh and vw)*/
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(202, 231, 241);
  }
  header{
    font-size: 5vmin;
    color: firebrick;
    letter-spacing: 1vmin;
    margin: 10px 1px 40px 1px;
    color:firebrick;
  }
  
  h1{
    color:firebrick;
    font-size: 3vmin;
    margin: 1px 1px 40px 1px;
  }

  #board>:hover{
    
    background-color:rgb(95, 153, 216); 
  }

  #board{
    display:grid;
    grid-template-columns: repeat(3, 15vmin);
    grid-template-rows: repeat(3,15vmin);
    gap: 10px;
    margin-top: -4vmin;
    transition: transform 150ms ease-in;
    position: relative;
    background-color: rgb(5, 5, 57);
    
  }
  
  #board >div {
    max-width: 400px;
    border: 1vmin solid black;   
    transition: transform 150ms ease-in;
    margin: 0.1vmin;
    background-color: whitesmoke;
  }

  button{
    margin-top:7vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 5vmin;
    border: 0.1vmin solid darkgrey;
    color: firebrick;
  }
  
  button:hover{
    color:white;
    background-color:rgb(143, 186, 232);
  }
  
  .playerX{
    color:darkgreen;
  }
  .playerO{
    color:orange;
  }